body{
    font-family: 'Noto Sans JP', sans-serif;
    background-color: rgb(241, 241, 241)
}

.container{

    margin-top: 100px;

}

#titulo, #descripcion{
    margin-bottom: 32px;
    text-align: center;
}

#busqueda{
    padding: 16px;
    margin-bottom: 50px;

}

#resultado{
    padding: 16px;
    text-align: center;
}

#movie,#poster,#year{
    padding-top: 32px;
}
